body {
    background-color: black;
    text-align: center;
}

header {
    color: red;
}

section h2 {
    color: purple;
}

article ol li img{
    max-width: 30rem;
    height: 30rem;
}

article {
    color: white;
}

footer {
    color: white;
}